:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color:hsla(195,100%,38%,1);
  background-image:
  radial-gradient(at 95% 4%, hsla(67,7%,79%,1) 0px, transparent 50%),
  radial-gradient(at 7% 97%, hsla(204,29%,24%,1) 0px, transparent 50%); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-family: impact;
  color: #2C4251;

  
}
.Icon {
  width: 1.5em;
  height: 1.5em;
}
div.Header {
  background: #CECFC7;
  
  width: 100%;
  margin:0%;
  padding:0;
  display:block;
  border-radius: 5px;
  
}
#app {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #2C4251 solid 1px;
  border-radius: 10px;
  padding: 10px;
  background: #2C4251;
  margin-left: 5%;
  margin-right: 5%;
  
  
}
nav:hover {

  position:fixed;
  top: 10px;
  right: 10px;
  border: #2C4251 solid 10px;
  margin-bottom: 20px;
  background: #CECFC7;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  width: 20%;
  height: 70%;
  flex-direction: column;
  

}
nav:hover #hamburger{
    display:none;
}
nav{
  position:fixed;
  top: 10px;
  right: 10px;
  border: #5E0B15 solid 1px;
  margin-bottom: 0px;
  background:#EF5B5B ;
  padding: 0px;
  border-radius: 5px;
  display: flex;
  width: 2%;
  height: auto;
  aspect-ratio: 1/1;
  flex-direction: column;
  
  


}
nav #hamburger{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}



nav:hover a{
  display: block;
  text-decoration: none;
  color: #2C4251;
  font-weight: bold;  
}
nav a {
  display: none;
}
#app  .Content {
  display: block;
  width: 100%;
  margin:5px 0px 5px 0px;
  padding: 0px;
  color:#2C4251;
  background-color: #CECFC7;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: left;
  border-radius: 5px;
}




