:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-top:#fff solid 10px;
  border-left:#999 solid 10px;
  border-bottom:#000 solid 10px;
  border-right: #333 solid 10px;
  background-color: #555;
}

body {
  padding : 20px;
  background-color:hsla(195,100%,38%,1);
  background-image:
  radial-gradient(at 95% 4%, hsla(67,7%,79%,1) 0px, transparent 50%),
  radial-gradient(at 7% 97%, hsla(204,29%,24%,1) 0px, transparent 50%); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-family: impact;
  color: #2C4251;
  

  
}
h2, h3 {
  border-left: #EF5B5B solid 5px;
  background-color:#0094C6; ;
  color: #000;
  margin : 20px;
  padding: 10px;
}
.Icon {
  width: 1.5em;
  height: 1.5em;
}
div.Header {
  background: #CECFC7;
  
  width: 100%;
  margin:20px;
  padding:0;
  display:block;
  border-radius: 5px;
  
}
#app {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #2C4251 solid 1px;
  border-radius: 10px;
  padding: 10px;
  background: #5E0B15;
  margin-left: 5%;
  margin-right: 5%;
  
  
  
}
nav:hover {
  

  position:fixed;
  top: 10px;
  right: 10px;
  border: #2C4251 solid 10px;
  margin-bottom: 20px;
  background: #CECFC7;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  width: 20%;
  height: 70%;
  transition: 1s;
  flex-direction: column;
  
  

}
nav:hover #hamburger{
    display:none;
}
nav{
  
  position:fixed;
  top: 10px;
  right: 10px;
  border: #5E0B15 solid 1px;
  margin-bottom: 0px;
  background:#EF5B5B ;
  padding: 0px;
  border-radius: 5px;
  display: flex;
  width: 2%;transition: 1s;
  height: auto;
  aspect-ratio: 1/1;
  flex-direction: column;
  
  
  


}
nav #hamburger{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
nav a {
  visibility: hidden;
  display: block;
  font-size: 0;
  width: 0;
  height: 0;
  transition: 1s;
}



nav:hover a{
  visibility: visible;
  transition: visibility 0s, font-size 1s, width 1s, height 1s;
  
  width: 100%;
  height: auto;
  

  font-size: 1.5em;
  transition-duration: 1s;
  
  text-decoration: none;
  color: #2C4251;
  font-weight: bold; 
  font-size: auto;
}

#app  .Content {
  display: block;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  color:#2C4251;
  background-color: #CECFC7;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: left;
  border-radius: 5px;
  
}
footer {
  display: block;
  margin-top: 20px;
  font-size: 0.8em;
  color: #2C4251;
  background-color: #CECFC7;
  border-radius: 5px;
  width: 100%;
}
.Gallery div{
  position :relative;
  

}
.Gallery div a {
  text-align: center;
  justify-content: center;
  display: block;
  color: #2C4251;
  padding :10px;
  margin: 10px;
  background-color: #CECFC7;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  bottom: 0%;
  height: auto;
  left: 10%;
  right: 10%;
  border-top: #fff solid 2px;
  border-bottom: #000 solid 2px;
  border-left: #aaa solid 2px;
  border-right: #555 solid 2px;
  

}
.Gallery div a:hover {
  color: #CECFC7;
  background-color: #2C4251;
  border-top: #000 solid 2px;
  border-bottom: #fff solid 2px;
  border-left: #555 solid 2px;
  border-right: #aaa solid 2px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.Gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: #2C4251;

  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}
.Gallery div {
  background-color: #0094C6;
  color: #000;
  border: #2C4251 solid 1px;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  height: 500px;
  text-align: center;
}
.Gallery div:hover {
  background-color: #EF5B5B;
  color: #2C4251;
  border: #2C4251 solid 3px;
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  border-radius: 10px;
}
.Gallery div img {
  width: 100%;
  height: 50%;
  border-radius: 5px;
  object-fit: cover;
}
.Gallery div h3 {
  margin: 0px 0 5px 0;
  padding: 0px 0px 0px 0px;
  border-bottom: #000 solid 1px;
  border-top: #fff solid 1px;
  border-left: #aaa solid 1px;
  border-right: #555 solid 1px;
  background-color: #CECFC7;

}
.Gallery div p {
  text-align: left;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  font-size: 0.7em;
}
.Gallery div p::first-letter{
  float :left;
  font-size: 1.5em;
  font-weight: bold;
  color: #CECFC7;
  padding: 2px; 
  background-color: #5E0B15;
  
  margin: 1px;

}
.Content p{
  
  margin: 20px;
  padding: 0px;
  font-size: 1em;
  background-color: #aaa;
  border-radius: 5px;
}
.Content a {
  display: block;
  color: #2C4251;
  font-weight: bold;
  text-decoration: none;
  background-color: #fff;
  margin : 20px;
  padding: 10px;
  border-radius: 5px;
  border-color: #000;
  border:2px solid
}
.Content a:hover {
  color: #fff;
  background-color: #2C4251;
  transition: all 0.3s ease;
}
.Content p::first-letter {
  
  float :left;
  font-size: 2em;
  font-weight: bold;
  color: #CECFC7;
  padding: 5px;
  background-color: #EF5B5B;
  text-shadow: 2px 2px 0px #2C4251;
  border-right: #2C4251 solid 2px;
  border-bottom: #2C4251 solid 2px;
  border-top: #fff solid 2px;
  border-left: #fff solid 2px ;
  margin: 1px;
}
img {
  border-radius: 5px;
  width: 100%;
}
video {
  border-radius: 5px;
  width: 100%;
}
figure {
  display: inline-block;
  width: calc(100% - 40px);
  margin: 20px;
  background-color: #aaa;
  border-radius: 5px;
  border: 2px solid #2C4251;
}
figcaption::before {
  content: "▲";
}
figcaption {
  text-align: center;
  font-size: 1em;
  color: #2C4251;
  margin-top: 0px;
}
p {
  margin: 0px;
  padding: 20px;
}
iframe {
  padding : 0px;

  background-color: #aaa;
  border-radius: 5px;
  border: none  ;
  width: calc(100% - 40px);
  max-height: 1500px;
  aspect-ratio: 16/9;
  height: auto;
  margin: 20px;
  display: block;
}
kbd {
  display: inline-block;
  margin: 0 2px;
  padding: 2px 5px;
  font-size: 0.9em;
  color: #2C4251;
  background: #fffcd9;
  background: linear-gradient(45deg,rgba(255, 252, 217, 0.97) 0%, rgba(163, 163, 163, 1) 100%);
  border: #2C4251 solid 1px;
  border-radius: 3px;
}
embed {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 2px solid #2C4251;
}
/* コメントボックスの外枠に対して、親要素からの継承をすべてリセットする */ 
#HCB_comment_box {
  all: initial; /* すべてのプロパティを初期値に戻す */
  display: block; /* initialで消える表示形式を再設定 */
  unicode-bidi: isolate; /* テキスト方向の干渉を防ぐ */
  background-color: #999;
  margin: 0px 20px 20px 20px;
  padding: 10px;
  border-radius: 5px;
}


/* コメントボックス内の要素は、HTMLCommentBox側のCSSに従うようにする */
#HCB_comment_box * {
  all: revert; /* ブラウザ標準またはその要素に直接当たっているスタイル（外部CSS）に戻す */
  
}
#HCB_comment_box p {
  all: revert;
}
#HCB_comment_box h2 {
  margin: 0px;
}





